In [34]:
#download dependencies
import pandas as pd

In [35]:
school_filetoload = "Resources/schools_complete.csv"
students_filetoload = "Resources/clean_students_complete.csv"

#define dataframes

schooldata_df = pd.read_csv(school_filetoload)
studentdata_df = pd.read_csv(students_filetoload)

schooldata_df.head()
studentdata_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [36]:
#combine data to a single dataset

school_data_complete_df = pd.merge(studentdata_df,schooldata_df, on = ["school_name", "school_name"])
school_count = schooldata_df.count()
student_count = studentdata_df.count()
print(school_count,student_count )

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64 Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [37]:
#calculate school count from merged file
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2

15

In [38]:
#calculate the total_budget
total_budget = schooldata_df["budget"].sum()
avg_reading_score = studentdata_df["reading_score"].mean()
avg_math_score = studentdata_df["math_score"].mean()
print(f'${total_budget: ,.2f} \n' 
      f'{avg_reading_score: ,.2f} \n'
      f'{avg_math_score: ,.2f} \n'   
     )

$ 24,649,428.00
 81.88
 78.99

In [39]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

# Calculate the number of students passing math.
passing_math_count = passing_math["Student ID"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["Student ID"].count()

#Total number of students
total_student_count = school_data_complete_df["Student ID"].count()

print(passing_math_count)
print(passing_reading_count)

print(total_student_count)

29370
33610
39170

In [49]:
def perc_calcs(nomin,denomin):
    return (nomin/float(denomin))*100

In [51]:
# Calculate the percent that passed math and reading.
passing_math_percentage = perc_calcs(passing_math_count,total_student_count)

#(passing_math_count/float(total_student_count))*100

passing_reading_percentage = perc_calcs(passing_reading_count,total_student_count)

#(passing_reading_count/float(total_student_count))*100

In [52]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70) ]
passing_math_reading_count = passing_math_reading["Student ID"].count()

#passing_math_reading_percentage = (passing_math_reading_count/float(total_student_count))*100

passing_math_reading_percentage = perc_calcs(passing_math_reading_count,total_student_count)

print(f" Math Pass  = {passing_math_percentage: .2f}% \n", 
      f"Reading Pass = {passing_reading_percentage: .2f}% \n",
      f"Math and Reading Pass = {passing_math_reading_percentage: .2f}%",
     )

 Math Pass  =  74.98%
 Reading Pass =  85.81%
 Math and Reading Pass =  65.17%

In [58]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
                      [{"Total Schools": round(school_count_2),
                       "Total Students": total_student_count,
                       "Total Budget":total_budget,
                       "Average Reading Score":round(avg_reading_score,1),
                        "Average Math Score":round(avg_math_score,1),
                       "% Passing Reading":round(passing_reading_percentage,2),
                        "% Passing Math" :round(passing_math_percentage,2),
                       "% Overall Passing":round(passing_math_reading_percentage,2) }]  )

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)
    
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,"$24,649,428.00",81.9,79.0,85.81%,74.98%,65.17%

In [59]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools","Total Students","Total Budget", "Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]

# Assign a new or the same DataFrame the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,81.9,74.98%,85.81%,65.17%